package ${package}.${moduleName}.dto.repose;

import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import javax.validation.constraints.NotBlank;


/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
@Table(name = "${className}")
public class ${className}Req {

    #foreach ($column in $columns)
        #if(${column.isNullAble})
            {
                @NotBlank(message = "${column.comments}不能为空")
                @ApiModelProperty(value = "$column.comments", required = true)
            }
            else
            {
                @ApiModelProperty(value = "$column.comments")
            }
        #end
        public $column.attrType $column.attrname;
    #end
}
